mat-card {
  width: fit-content;
}

.center {
  height: 80vh;
  position: relative;
}
.center mat-card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.right {
  position: absolute;
  right: 16px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}