div {
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  height: 51px;
}

p {
  margin: 0px 0px 0px 109px;
  padding-top: 16px;
}

/* Rotate the icon */
p > span {
  margin-right: 1rem;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
